.card-rounded1 {
  background-color: #4885ed;
  border-radius: 8px;
}

.card-rounded2 {
  background-color: #db3236;
  border-radius: 8px;
}

.card-rounded3 {
  background-color:#f4c20d;
  border-radius: 8px;
}

.card-rounded4 {
  background-color: #3cba54;
  border-radius: 8px;
}

.toolbar-color {
  background-color: #4885ed;
}

.item-rounded {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.first.item-rounded {
  border-radius: 8px;
  background-color: #468590;
}